.logo{
    width: 100px;
    height: 50px;
    text-align: left;
}
.basket-logo{
    margin-right: 20px;
    font-size: 25px;
}

.welcome{
    text-align: center;
    margin-top: 10px
}

.catalog-line{
    text-align: center;
}

.hod , .tee , .acs{
    padding-left: 50px;
    font-style: normal;
}

.main_image_container{
    margin-top: 50px;
}
.mainimg{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 500px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Poppins;
}

.header-line{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.header-line button{
    display: inline-block;
    padding: 10px 20px;
    border: none; 
    border-radius: 25px; 
    background-color: black; 
    color: white; 
    font-size: 16px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-left: 10px;
}

.buttons{
    display: flex;
    align-items: center;
}

.h_heading{
    text-align: center;
}



.product-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 100px; 
}
.hoodie1_card,
.hoodie2_card,
.hoodie3_card{
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    background: white;
}

.hoodie1_card img,
.hoodie2_card img,
.hoodie3_card img{
    display: block;
    width: 100%;
}

.home{
    margin-left: 1200px;
}
.contacts{
    margin-left: 20px;
    margin-top: 50px;
}
.cookie-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    display: none; 
}
.cookie-notice button{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: black;
    font-size: large;
}
